[run]
source = router
omit = 
    tests/*
    setup.py

[report]
fail_under = 85
show_missing = True
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
    raise NotImplementedError
    pass

[html]
directory = htmlcov

[xml]
output = coverage.xml
